.flash-card {
  
  width: 600px;
  height: 350px;
  background-color: #ebaa61;;
  border: 16px solid #e0aa6d;  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.3s;

  font-family: 'Caveat', cursive;
  font-weight: bold;

}

.flash-card:hover {
  transform: scale(1.02);
}


