.new-card-form {
  font-family: 'Caveat', cursive;

  font-weight: bold;
  font-size: 1.2rem;
  background-color: #e0aa6d;
  
  border: 2px solid #e0aa6d;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "front"
    "back"
    "add";
}

.new-card-form-section{
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #e0aa6d;
  border: 2px solid #e0aa6d;
  border-radius: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: pre-line;
  box-sizing: border-box;
  align-self: stretch;

}

.new-card-form-section:hover{
  background-color: #f3ae55;
  cursor: text;
}
  
.new-card-form_input_FRONT{grid-area: front;
  color: #ffffff;
  border : #e0aa6d;
  outline: none;

}
.new-card-form_input_BACK{grid-area: back;

  color: #ffffff;
  border : #e0aa6d;
  outline: none;


}
.new-card-form_input_ADD {
  color: #ffffff;
  outline: none;

  grid-area: add;
  background-color: #ebaa61;
}
.new-card-form_input_ADD:hover {

  background-color: #f3ae55;
  cursor: pointer;
}



