/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffc6a0; 
  margin: 0;
  padding: 0;
  min-height: 100vh;
} */
/* .app-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
} */